<html>
	<head>
		<title>Spotus| {{obj.firstName}} {{obj.lastName}}| User</title>
	</head>

	<body>
		{% if user.is_authenticated %}
			Welcome,
			{% if user.groups.all.0.name == 'normal_user'  %}
				<a href = "{{ user.useraccount.get_absolute_url }}">{{user.useraccount.firstName}}</a>
			{% else %}
				<a href = "{{ user.organiseraccount.get_absolute_url }}">{{user.organiseraccount.firstName}}</a>(organiser)
			{% endif %}
			| <a href = "{% url "logout" %}?next={{ request.path }}">logout</a>
		{% else %}
			Login as 
			<a href = "{% url "user_login" %}?next={{ request.path }}">user</a>|<a href = "{% url "organiser_login" %}?next={{ request.path }}">organiser</a>
			<br>
			Regiser as
			<a href = "{% url "user_register" %}">user</a>|<a href = "{% url "organiser_register" %}">organiser</a>
		{% endif %}
		<br>

		{% if obj.profilePic %}
		<img src = "{{obj.profilePic.url}}" height = "120" width = "120">
		{% endif %}
		<h2>{{obj.firstName}} {{obj.lastName}}</h2>
		<br>
		<b>Phone No.</b> {{obj.contactNumber}}
		<br>
		<b>Email</b> {{obj.email}}
		<br><b>Gender: </b>
		{% if obj.gender == 'M' %}
			Male
		{% else %}
			Female
		{% endif %}
		<br>
		<b>Born On</b> {{obj.dateOfBirth}}
		<br>
		<b>User since</b> {{obj.dateOfJoining}}
		<br>
		<b>Lives at</b> {{obj.address}},{{obj.city}},{{obj.country}}.{{obj.pincode}}
	</body>
</html>
 